<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a *ngIf="user?.role == 'ADMIN'"  routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th data-toggle="true">#</th>
          <th>Name</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.name}}</td>
          <td>{{item.username}}</td>
          <td class="sm-buttons" nowrap="nowrap">
            <div>
              <a (click)="doStatusUpdate(item.id, 1)" class="btn btn-xs text-light border-0 bg-{{item.isBlock.class1}}" title="{{item.isBlock.text}}">
                <i class="mdi {{item.isBlock.class2}}"></i>
              </a>
              <a (click)="doStatusDelete(item.id)" class="btn btn-xs text-light border-0 bg-danger" title="Delete">
                <i class="mdi mdi-delete"></i>
              </a>
              <a routerLink="/users/action/reset-password/{{item.id}}" class="btn btn-xs btn-rp" title="Reset Password">RP</a>
            </div>
          </td>
        </tr>
        </tbody>
        <!--<tfoot>
          <tr class="active">
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
              </div>
            </td>
          </tr>
        </tfoot>-->
      </table>
    </div>
    <!-- end .table-responsive-->
  </div>
  <!-- end row -->
</div>
<!-- container -->
