<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-12 bg-danger py-1 mb-1">
      <h4 class="page-title">
        {{title}}  <i class="mdi mdi-chevron-right"></i>{{jackpotData.eventName}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-6">
      <div id="accordion" class="mb-1 accordion game-detail-acc">

        <h2 class="bg-danger py-1 px-2 m-0">
          <small> <b>{{jackpotData.gameType}}</b></small>
        </h2>

        <div class="card mb-0">
          <!-- jackpot -->
          <div class="gda-div">
            <div class="card-header p-0">
              <h2 class="bg-light py-1 px-1 m-0">
                <small class="text-dark"> <b>{{jackpotData.marketName}}</b></small>
                <a *ngIf="uid == undefined" routerLink="/market-bet-list/jackpot/{{eid}}/{{mid}}" class="float-right btn btn-xs btn-dark text-uppercase py-1 font-weight-bold" target="_blank">Bets</a>
                <a *ngIf="uid != undefined" routerLink="/market-bet-list-byuser/{{uid}}/jackpot/{{eid}}/{{mid}}" class="float-right btn btn-xs btn-dark text-uppercase py-1 font-weight-bold" target="_blank">Bets</a>
              </h2>
            </div>

            <div class="card-body p-1">

              <div class="row jd-cr m-0 bg-dark text-light border-0 p-0">
                <div class="col-5">
                  TEAM
                </div>
                <div class="col-5">
                  PLAYER
                </div>
                <div class="col-5">
                  PLAYER
                </div>
                <div class="col-5">
                  TEAM
                </div>
                <div class="col-5">
                  Rate
                </div>
              </div>

              <div *ngFor="let items of jackpotData?.runners" class="row jd-cr jd-cr-bg m-0 bg-dark text-light p-0">
                <div class="col-5">
                  {{items.col1}}
                </div>
                <div class="col-5">
                  {{items.col2}}
                </div>
                <div class="col-5">
                  {{items.col4}}
                </div>
                <div class="col-5">
                  {{items.col3}}
                </div>
                <div class="col-5 suspended-div">
                  {{items.rate}}
                  <p *ngIf="cUserData.role != 'SV'" [ngClass]="{'green': items?.profitLoss >= 0 , 'red': items?.profitLoss < 0}">{{items?.profitLoss}}</p>
                  <div *ngIf="items.suspended == 1"  class="suspended-jd">Suspended</div>
                </div>
              </div>

            </div>

          </div>
          <!-- jackpot -->
        </div>

      </div> <!-- end #accordions-->
    </div>

    <div class="col-xl-6">

      <!-- betList1 -->
      <div *ngIf="betList && betList.count > 0" class="mb-1 game-detail-acc">
        <h2 class="bg-danger py-1 px-2 m-0 justify-content-between">
          <small> <b>Bet List ({{betList.count}})</b></small>
        </h2>
        <div class="table-responsive">
          <table class="table table-borderless mb-0">
            <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Runner</th>
              <th>Client</th>
              <th>Odd</th>
              <th>Stake</th>
              <th>Master</th>
              <th>Time</th>
              <th>IP</th>
            </tr>
            </thead>

            <tbody class="bg-white">
            <tr *ngFor="let item of betList.list" class="bg-blue">
              <td>{{item.id}}</td>
              <td>{{item.runner}}</td>
              <td>{{item.client}}</td>
              <td>{{item.price}}</td>
              <td>{{item.size}}</td>
              <td>{{item.master}}</td>
              <td>{{item.created_on}}</td>
              <td>{{item.ip_address}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- betList1 -->
    </div>

  </div>

</div> <!-- container -->
