<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3">
                <label>Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-user-tie"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="name" class="form-control" placeholder="Name" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmName.invalid && (frmName.dirty || frmName.touched)">Name Invalid !</em>
                </div>
                <p class="form-refer-text"> Name | Ex xyz | min 3 | max 20</p>
              </div>

              <div class="form-group mb-3">
                <label>Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-user"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="username" class="form-control" placeholder="Username" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmUsername.invalid && (frmUsername.dirty || frmUsername.touched)">Username Invalid !</em>
                </div>
                <p class="form-refer-text"> Username | Ex xyz | min 3 | max 20</p>
              </div>

              <div class="form-group mb-3">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="password" required formControlName="password" class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">Password Invalid !</em>
                </div>
                <p class="form-refer-text"> Password | Ex xyz@#$123ABC | min 6 | max 20</p>
              </div>

              <div class="form-group mb-3">
                <label>Profit & Loss (%)</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-percent"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="1" maxlength="2" (input)="checkProfitLoss(frmProfitLoss)" max="{{tmpplError}}" required formControlName="pl" class="form-control" placeholder="Profit Loss" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmProfitLoss.invalid && (frmProfitLoss.dirty || frmProfitLoss.touched)">Profit Loss Invalid !</em>
                </div>
                <p class="form-refer-text">Profit Loss | Ex 55 | <span style="font-weight: 700; font-size: 13px;" [ngClass]="{'green': plError > 0,'red': plError <= 0 }">{{parentUser}} on {{plError}} % </span></p>
              </div>

              <div class="form-group mb-3">
                <label>Balance</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-money"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="1" maxlength="10" (input)="checkBalance(frmBalance)" required formControlName="balance" class="form-control" placeholder="Balance" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmBalance.invalid && (frmBalance.dirty || frmBalance.touched)">Balance Invalid !</em>
                </div>
                <p class="form-refer-text">Balance | Ex 5000 | <span style="font-weight: 700; font-size: 13px;" [ngClass]="{'green': belance >= 0,'red': belance < 0 }">{{parentUser}} balance is {{belance}}</span></p>
              </div>

              <div class="form-group mb-3">
                <label>Remark</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-comment-alt"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="100" formControlName="remark" class="form-control" placeholder="Remark" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmRemark.invalid && (frmRemark.dirty || frmRemark.touched)">frmRemark Invalid !</em>
                </div>
                <p class="form-refer-text">Remark | Ex xyz</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled':  userError != '' || plError <= 0 || !frm.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
