.ctm-form .ctm-form-div {
    box-shadow: 0 1px 7px 0 #f1f1f1;
    margin: 2em 0 4em;
    transition: .9s;
    border-radius: 10px;
}
.ctm-form .ctm-form-div form {
    padding: 50px;
}
.ctm-form form h2.h2-head {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    background: #38404a;
    border-radius: 100px;
    color: #f1f1f1;
}
.ctm-form .ctm-form-div .form-group label {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    color: #2b2b2b;
}
.ctm-form .ctm-form-div input, .ctm-form .ctm-form-div select, .ctm-form .ctm-form-div textarea {
    color: #38404a;
    border: none;
    border-radius: 0;
}
.ctm-form .ctm-form-div .form-group {
    position: relative;
}
.ctm-form p.form-refer-text {
    position: relative;
    margin: 0;
    color: #4b4b4b;
    text-transform: capitalize;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 4px 0;
}
.ctm-form .ctm-form-div a, .ctm-form .ctm-form-div button {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff!important;
}
@media (max-width: 767.98px) {
	.ctm-form .ctm-form-div form {
	    padding: 20px;
	}	
}