<!-- Start Content-->
<div class="container-fluid">

    <div class="row justify-content-between bg-light border border-danger">
  
      <!--back & create-->
      <div class="col-12 bg-danger py-1">
        <h4 class="page-title">
            {{title}}
        </h4>
      </div>
      <!--back & create-->
  
      <div class="col-xl-12 ctm-form">
        <div class="row justify-content-center">
          <div class="col-xl-5">
            <div class="ctm-form-div">
              <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                <h2 class="h2-head">
                  <i class="fas fa-thumbs-up"></i>
                </h2>
  
                <div class="form-group mb-3">
                  <label>Title</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <input type="text" required formControlName="title" class="form-control" placeholder="Enter Title" aria-label="" aria-describedby="">
                    <em class="show-error" *ngIf="frmTitle.invalid && (frmTitle.dirty || frmTitle.touched)">Title Invalid !</em>
                  </div>
                  <!-- <p class="form-refer-text"> Key | Ex xyz</p> -->
                </div>
  
                <div class="form-group mb-3">
                  <label>Information</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <textarea required formControlName="information" class="form-control" placeholder="Enter Information"></textarea>
                    <em class="show-error" *ngIf="frmInformation.invalid && (frmInformation.dirty || frmInformation.touched)">Information Invalid !</em>
                  </div>
                  <!-- <p class="form-refer-text"> Value | Ex xyz,123,Data</p> -->
                </div>
  
                <div class="form-group text-center">
                  <div class="button-list">
                    <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid }">submit</button>
                    <a class="btn btn-danger btn-md text-light" routerLink="/news">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <!-- end row -->
    </div> <!-- container -->
  