<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title text-light">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <!-- searchbar -->
      <div class="row bg-light py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
        <div class="col-xl-12">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="SearchBar">
                <h4 class="panel-title m-0">
                  <a class="text-dark" role="button" data-toggle="collapse" data-parent="#accordion" href="#SearchBarOne" aria-expanded="true" aria-controls="SearchBarOne">
                    <i class="more-less fa fa-plus"></i>
                    Search Bar
                  </a>
                </h4>
              </div>
              <div id="SearchBarOne" class="panel-collapse collapse mt-1" role="tabpanel" aria-labelledby="SearchBar">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xl-8">
                      <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                        <div class="form-row align-items-center">
                          <div class="col-xl-3 col-6 mb-1">
                            <select class="form-control" required formControlName="type">
                              <option value="">Select Type</option>
                              <!-- <option value="1">Current Bet</option> -->
                              <option value="2">Settled Orders</option>
                              <option value="3">Pending Orders</option>
                              <option value="4">Deleted Orders</option>
                            </select>
                          </div>
                          <div class="col-xl-3 col-6 mb-1">
                            <input type="date" required formControlName="start" class="form-control">
                            <em class="show-error" *ngIf="frmStart.invalid && (frmStart.dirty || frmStart.touched)">Select Date !</em>
                          </div>
                          <div class="col-xl-3 col-6 mb-1">
                            <div class="input-group">
                              <input type="date" required formControlName="end" class="form-control">
                              <em class="show-error" *ngIf="frmEnd.invalid && (frmEnd.dirty || frmEnd.touched)">Select Date !</em>
                            </div>
                          </div>
                          <div class="col-xl-2 col-6 mb-1">
                            <div class="input-group">
                              <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark">Search</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="col-xl-4 text-right">
                      <div class="button-list">
                        <div class="dt-buttons btn-group">
                          <button type="button" (click)="submitForm('today')" class="btn btn-secondary" title="Today">
                            <span>Today</span>
                          </button>
                          <button type="button" (click)="submitForm('week')" class="btn btn-secondary" title="1 Week">
                            <span>1 Week</span>
                          </button>
                          <button type="button" (click)="submitForm('month')" class="btn btn-secondary" title="1 Month">
                            <span>1 Month</span>
                          </button>
                          <button type="button" class="btn btn-success" (click)="excelDownload()" data-toggle="tooltip" data-placement="top" title="Excel File Download">
                            <span>Export <i class="mdi mdi-file-excel"></i></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- panel-group -->
        </div>
      </div>
      <!-- searchbar -->

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>Order ID</th>
          <th>Client ID</th>
          <th>Description</th>
          <th class="text-center">Client</th>
          <th class="text-center">Buy Price</th>
          <th class="text-center">Sell Price</th>
          <!-- <th class="text-center">Rate</th>
          <th class="text-center">Stake</th> -->
          <th>Close Buy Price</th>
          <th>Close Sell Price</th>
          <th>Order Type</th>
          <th>SL</th>
          <th>TP</th>
          <th>IP</th>
          <th>Master</th>
          <th>Time</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of aList; let i = index;" [ngClass]="{'bg-blue': item.type == 'back' || item.type == 'yes' || item.type == 'BACK' || item.type == 'YES', 'bg-red': item.type == 'lay' || item.type == 'no' || item.type == 'LAY' || item.type == 'NO'}"
            [style.text-decoration]="{'line-through' : item.status == '2' }">
          <td>{{item.id}}</td>
          <td>{{item.clientId}}</td>
          <td>{{item.description}}</td>
          <td class="text-center">{{item.client}}</td>
          <td class="text-center">{{item.buyPrice}}</td>
          <td class="text-center">{{item.sellPrice}}</td>
          <td class="text-center">{{item.closeBuyPrice}}</td>
          <td class="text-center">{{item.closeSellPrice}}</td>
          <td>{{item.orderType}}</td>
          <td>{{item.sl}}</td>
          <td>{{item.tp}}</td>
          <td>{{item.ip}}</td>
          <td>{{item.master}}</td>
          <td>{{item.time}}</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->

</div> <!-- container -->
