<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topnav-menu float-right mb-0">
    <li *ngIf="userData?.role !== 'SV'" class="dropdown notification-list mr-1">
      <a href="" class="nav-link right-bar-toggle balance" alt="LOGOUT">
        <span>Balance</span>
        <h6><i class="mdi mdi-currency-inr noti-icon"></i><small *ngIf="userData">{{userData.balance | number}}</small></h6>
      </a>
    </li>
    <li *ngIf="userData?.role !== 'SV'" class="dropdown notification-list">
      <a href="" class="nav-link right-bar-toggle balance" alt="LOGOUT"><!-- claa name(pro-loss) for loss -->
        <span>P/L</span>
        <h6><i class="mdi mdi-currency-inr noti-icon"></i><small *ngIf="userData">{{userData.pl_balance | number}}</small></h6>
      </a>
    </li>
    <!-- <li *ngIf="userData?.role !== 'SV' && userData?.w_pl_balance !== undefined" class="dropdown notification-list">
      <a href="" class="nav-link right-bar-toggle balance" alt="LOGOUT">< claa name(pro-loss) for loss 
        <span>W P/L</span>
        <h6><i class="mdi mdi-currency-inr noti-icon"></i><small *ngIf="userData">{{userData?.w_pl_balance | number}}</small></h6>
      </a>
    </li> -->

    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <img src="assets/img/icons/profile-default.png" alt="user-image" class="rounded-circle">
        <span class="pro-user-name ml-1" *ngIf="userData">
            {{userData?.name}} <i class="mdi mdi-chevron-down"></i>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        <!-- item-->
        <div class="dropdown-header noti-title">
          <h6 class="text-overflow m-0">Welcome! <b>{{userData?.name}}</b></h6>
        </div>

        <hr class="m-0">

        <!-- item-->
        <a *ngIf="userData?.role !== 'SV'" routerLink="/users/client" class="dropdown-item notify-item">
          <i class="mdi mdi-account"></i>
          <span>Client List</span>
        </a>
        <a *ngIf="userData?.role == 'ADMIN'" routerLink="/setting/manage" class="dropdown-item notify-item">
          <i class="mdi mdi-settings"></i>
          <span>Settings</span>
        </a>
        <a routerLink="/users/action/change-password/{{userData?.uid}}" class="dropdown-item notify-item">
          <i class="mdi mdi-lock"></i>
          <span>Change Password</span>
        </a>
        <a (click)="logout()" class="dropdown-item notify-item logout-menu">
          <i class="mdi mdi-logout"></i>
          <span>Logout</span>
        </a>

      </div>
    </li>

  </ul>

  <!-- LOGO -->
  <div class="logo-box">
    <a routerLink="/" class="logo text-center">
      <span class="logo-lg">
        <img  src="assets/img/{{systemId}}/logo.png" alt="" height="41">
      </span>
      <span class="logo-sm">
        <img src="assets/img/{{systemId}}/logo.png" alt="" height="15">
      </span>
    </a>
  </div>

  <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
    <li>
      <button class="button-menu-mobile">
        <i class="mdi mdi-menu"></i>
      </button>
    </li>

  </ul>
</div>
<!-- end Topbar -->
