<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <!--<th *ngIf="user?.role == 'ADMIN'">Sport Id</th>-->
          <th>Name</th>
          <th>Profit Loss</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aList; let i = index;">
            <td>{{i + page.start}}</td>
            <!--<td *ngIf="user?.role == 'ADMIN'"><b>{{item.sportId}}</b></td>-->
            <td>{{item.name}}</td>
            <td>
              <strong *ngIf="item.pl < 0" style="color: red">{{item.pl}}</strong>
              <strong *ngIf="item.pl > 0" style="color: green">{{item.pl}}</strong>
              <strong *ngIf="item.pl == 0" style="color: green">0.0</strong>
            </td>
            <td>
              <a routerLink="/reports/profit-loss/event-detail/{{item.sportId}}/{{uid}}" class="btn btn-success btn-xs text-capitalize text-white vdw-btn" target="_blank">view detail</a>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="aListTotal">
        <tr class="bg-dark">
          <td></td>
          <td class="text-white font-weight-bold text-right">Total : </td>
          <td class="text-white font-weight-bold">{{aListTotal.pl == 0 ? '0.0' : aListTotal.pl}}</td>
          <td></td>
        </tr>
        </tfoot>
      </table>

    </div>

  </div>
  <!-- end row -->
</div>
<!-- container -->
