<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block"> 2020 &copy; All rights reserved </div>
               <!-- <div class="text-md-right footer-links d-none d-sm-block">
                   <a href="">About Us</a>
                   <a href="">Help</a>
                   <a href="">Contact Us</a>
               </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
