<!-- Start Content-->
<div class="container-fluid">

    <div class="row justify-content-between">
  
      <!--back & create-->
      <div class="col-7 bg-danger py-1">
        <h4 class="page-title">
          <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
            <i class="mdi mdi-arrow-left"></i> Back
          </a>-->
          News
        </h4>
      </div>
      <div class="col-5 text-right bg-danger py-1">
        <a *ngIf="cUserData?.role == 'ADMIN'" routerLink="create" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
      </div>
      <!--back & create-->
  
      <div class="col-xl-12 bg-white py-2 ctm-datables table-responsive">
        <table class="table w-100 nowrap table-hover">
          <thead class="bg-danger">
          <tr class="text-white">
            <!-- <th>#</th> -->
            <th>Title</th>
            <th>Information</th>
            <th *ngIf="cUserData?.role == 'ADMIN'">Action</th>
          </tr>
          </thead>
          <tbody>
  
          <tr *ngFor="let item of dataList; let i = index;">
            <!-- <td>{{item.id}}</td> -->
            <td>{{item.title}}</td>
            <td>{{item.information}}</td>
            <td class="sm-buttons" nowrap="nowrap">
              <div>
                <a *ngIf="cUserData?.role == 'ADMIN'" (click)='doDeleteNews(item.id)' class="btn btn-xs text-light border-0 bg-danger" title="Delete">
                  <i class="mdi mdi-delete"></i>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- end .table-responsive-->
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
  