.news-ui h2 {
    background: #fff;
    padding: 4px 10px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}   

.news-ui .col-md-12 {
    background: #e2e2e2;
}

.news-ui ul {
    margin: 10px 0;
}


.news-ui a {
    color: #000;
}

.news-ui h4 {
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 16px;
}

.news-ui p {
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    padding-left: 20px;
    margin-bottom: 10px;
}

.news-ui p::before {
    font-family: FontAwesome;
    content: "\f105";
    padding-right: 10px;
    color: goldenrod;
    font-weight: 900;
}