<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3">
                <label>Sport</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-football-ball"></i>
                      </span>
                  </div>
                  <select required formControlName="sport" class="form-control">
                    <option value="">Select Sport</option>
                    <option *ngFor="let item of sportList" value="{{item.name}}">{{item.name}}</option>
                  </select>
                  <em class="show-error" *ngIf="frmSport.invalid && (frmSport.dirty || frmSport.touched)">Sport Invalid !</em>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Market</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-football-ball"></i>
                      </span>
                  </div>
                  <select required formControlName="market" class="form-control">
                    <option value="">Select Market</option>
                    <option *ngFor="let item of marketList" value="{{item.name}}">{{item.name}}</option>
                  </select>
                  <em class="show-error" *ngIf="frmMarket.invalid && (frmMarket.dirty || frmMarket.touched)">Market Invalid !</em>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Rules</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-pencil-alt"></i>
                      </span>
                  </div>
                  <textarea required formControlName="rules" class="form-control" placeholder="Rules"></textarea>
                  <em class="show-error" *ngIf="frmRules.invalid && (frmRules.dirty || frmRules.touched)">Rules Invalid !</em>
                </div>
                <p class="form-refer-text"> Rules | Ex xyz</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <button class="btn btn-danger btn-md" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->



  </div> <!-- container -->
