<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <!-- search bar -->
      <div class="row bg-light py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
        <div class="col-xl-12">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="SearchBar">
                <h4 class="panel-title m-0">
                  <a class="text-dark" role="button" data-toggle="collapse" data-parent="#accordion" href="#SearchBarOne" aria-expanded="true" aria-controls="SearchBarOne">
                    <i class="more-less fa fa-plus"></i>
                    Search Bar
                  </a>
                </h4>
              </div>
              <div id="SearchBarOne" class="panel-collapse collapse mt-1" role="tabpanel" aria-labelledby="SearchBar">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xl-8">
                      <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                        <div class="form-row align-items-center">
                          <div class="col-xl-3 col-6 mb-1">
                            <input type="date" required formControlName="start" class="form-control">
                            <em class="show-error" *ngIf="frmStart.invalid && (frmStart.dirty || frmStart.touched)">Select Date !</em>
                          </div>
                          <div class="col-xl-3 col-6 mb-1">
                            <div class="input-group">
                              <input type="date" required formControlName="end" class="form-control">
                              <em class="show-error" *ngIf="frmEnd.invalid && (frmEnd.dirty || frmEnd.touched)">Select Date !</em>
                            </div>
                          </div>
                          <div class="col-xl-2 col-6 mb-1">
                            <div class="input-group">
                              <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark">Search</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-xl-4 text-right">
                      <div class="button-list">
                        <div class="dt-buttons btn-group">
                          <button type="button" (click)="submitForm('today')" class="btn btn-secondary" title="Today">
                            <span>Today</span>
                          </button>
                          <button type="button" (click)="submitForm('week')" class="btn btn-secondary" title="1 Week">
                            <span>1 Week</span>
                          </button>
                          <button type="button" (click)="submitForm('month')" class="btn btn-secondary" title="1 Month">
                            <span>1 Month</span>
                          </button>
                          <button type="button" class="btn btn-success" (click)="excelDownload()" data-toggle="tooltip" data-placement="top" title="Excel File Download">
                            <span>Export <i class="mdi mdi-file-excel"></i></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- panel-group -->
        </div>
      </div>
      <!-- search bar -->

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th *ngIf="user?.role == 'ADMIN'">Market Id</th>
          <th>Time</th>
          <th>Description</th>
          <th>Profit Loss</th>
          <th>Comm.</th>
          <th>Result</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aList; let i = index;">
            <td>{{i + page.start}}</td>
            <td *ngIf="user?.role == 'ADMIN'"><b>{{item.marketId}}</b></td>
            <td>{{item.time}}</td>
            <td>{{item.description}}</td>
            <td>
              <strong *ngIf="item.pl < 0" style="color: red">{{item.pl}}</strong>
              <strong *ngIf="item.pl > 0" style="color: green">{{item.pl}}</strong>
              <strong *ngIf="item.pl == 0" style="color: green">0.0</strong>
            </td>
            <td>
              <strong *ngIf="item.comm < 0" style="color: red">{{item.comm}}</strong>
              <strong *ngIf="item.comm > 0" style="color: green">{{item.comm}}</strong>
              <strong *ngIf="item.comm == 0" style="color: green">0.0</strong>
            </td>
            <td>{{item.result}}</td>
            <td>
              <a routerLink="/reports/market-bet/{{item.marketId}}" class="btn btn-success btn-xs text-capitalize text-white vdw-btn">view bets</a>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="aListTotal">
        <tr class="bg-dark">
          <td></td>
          <td></td>
          <td></td>
          <td class="text-white font-weight-bold text-right">Total : </td>
          <td class="text-white font-weight-bold">{{aListTotal.pl == 0 ? '0.0' : aListTotal.pl}}</td>
          <td class="text-white font-weight-bold">{{aListTotal.comm == 0 ? '0.0' : aListTotal.comm}}</td>
          <td></td>
        </tr>
        </tfoot>
      </table>

    </div>

  </div>
  <!-- end row -->
</div>
<!-- container -->
